@model DistManagment.order_product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Order Products</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.order.order_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.order.order_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.product.product_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.product.product_name)
    </div>
     <div class="display-label">
        Quantity
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.qty)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
